.title-container {
  display: flex;
  flex-direction: row;
  justify-content: start; /* Align items horizontally */
  align-items: center; /* Center vertically */
  gap: 0.5em;
  //background-color: #f8f9fb !important;
  padding: 24px 16px;
}

.hidden-row {
  display: none;
}
