.content {
  width: 400px;
  height: 180px;


  .modal-container {
    margin-top: 20px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    .modal-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

