<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title class="m-b-0">Add Charge for Consumer</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="addChargeForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Particular</mat-label>
      <mat-select formControlName="Charge">
        <mat-option *ngFor="let charge of charges" [value]="charge">
          {{ charge.Category }} -
          {{ charge.Particular }} -
          {{ charge.Amount !== ".00" ? charge.Amount : "" }}
          {{ charge.ComputeRate !== ".00" ? charge.ComputeRate : "" }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="IsActive">Active</mat-checkbox>
    Coverage
    <mat-checkbox formControlName="IsRecurring">Recurring</mat-checkbox>
    <div *ngIf="IsRecurring">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Month</mat-label>
        <mat-select formControlName="BillingMonth">
          <mat-option *ngFor="let month of months; let i = index" [value]="i">
            {{ month }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Year</mat-label>
        <mat-select formControlName="BillingYear">
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Remarks</mat-label>
      <input matInput formControlName="Remarks"/>
    </mat-form-field>
  </form>
    <button (click)="addCustomerCharge()">Add Charge</button>
  </mat-card-content>
</mat-card>
